body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:100%;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:relative;
  z-index:0;
}
#oldPassword{
  border-width:1px;
  position:absolute;
  left:45%;
  top:144px;
  width:369px;
  height:41px;
  display:flex;
  font-size:18px;
  
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#newPassword{
  border-width:1px;
  position:absolute;
  left:45%;
  top:206px;
  width:369px;
  height:41px;
  display:flex;
  font-size:18px;

  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#oldPasswordLabel{
  position:absolute;
  left:30%;
  top:143px;
  width:211px;
  height:42px;
  display:flex;
  font-family:"Arial Fett", "Arial Standard", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
  text-align:center;
  
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#newPasswordLabel{
  position:absolute;
  left:30%;
  top:205px;
  width:211px;
  height:42px;
  display:flex;
  font-family:"Arial Fett", "Arial Standard", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
  text-align:center;
  
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#newPasswordRepeat{
  border-width:1px;
  position:absolute;
  left:45%;
  top:260px;
  width:369px;
  height:41px;
  display:flex;
  font-size:18px;
  
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#newPasswordRepeatLabel{
  position:absolute;
  left:25%;
  top:259px;
  width:258px;
  height:42px;
  display:flex;
  font-family:"Arial Fett", "Arial Standard", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
  text-align:center;
  
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#applyButton{
  border-width:1px;
  position:absolute;
  left:60%;
  top:374px;
  width:140px;
  height:40px;
  display:flex;
  font-family:"Arial Fett", "Arial Standard", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;

  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#errorText{
  position:absolute;
  left:45%;
  top:328px;
  width:369px;
  height:33px;
  display:flex;
  
  color: red;
  font-size: 20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#backButton{
  border-width:1px;
  position:absolute;
  left:40%;
  top:374px;
  width:140px;
  height:40px;
  display:flex;
  font-family:"Arial Fett", "Arial Standard", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;

  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#infotechLogo{
  border-width:0px;
  position:absolute;
  left:75%;
  top:37px;
  width:249px;
  height:187px;
  display:flex;
}