/* styles.css */

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#infotechLogo {
    max-width: 100%;
}

#errorText {
    font-weight: bold;
    color: red;
}

.dropdownSmall {
    margin-top: 10px;
    width: 200px;
    height: 25px;
}

.dropdownBig {
    margin-top: 10px;
    width: 600px;
    height: 200px;
}

.listGroupSelected {
    font-weight: bold;
}

#newSecurityCheckTextBox {
    margin-right: 10px;
    padding: 5px;
}

#newSecurityCheckBtn {
    padding: 5px 10px;
}

#categoryComboBox {
    margin-top: 10px;
    width: 200px;
}

#deleteCriticalityBtn {
    margin-left: 10px;
    padding: 5px;
}

#addNewCriticality {
    margin-top: 10px;
    padding: 5px;
}

#addNewCriticalityBtn {
    margin-left: 10px;
    padding: 5px;
}

#addNewQuestionBtn {
    margin-top: 10px;
    padding: 5px 10px;
}

#questionTextBox {
    margin-top: 10px;
    padding: 5px;
    width: 100%;
}

#updateBtn {
    margin-top: 10px;
    padding: 5px 10px;
}

.label {
    display: inline-block;
    margin-top: 10px;
    width: 20px;
}

.answerInput {
    margin-top: 10px;
    padding: 5px;
    width: calc(100% - 30px);
}

#deleteBtn {
    margin-top: 10px;
    padding: 5px 10px;
}

#backBtn {
    margin-top: 20px;
    padding: 5px 10px;
}

.bottom-buttons {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    left: 0;
    width: 100%;
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
}

.bottom-buttons form {
    margin: 0 5px;
    text-align: center;
}

/* Additional Styling */

body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
}

.container {
    position: relative;
    min-height: 100vh;
    padding-bottom: 100px; /* Added to push content up */
}

img.img-fluid {
    max-width: 100%;
    height: auto;
}

button,
input[type="submit"] {
    border: none;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
}

    button:hover,
    input[type="submit"]:hover {
        background-color: #45a049;
    }

a {
    text-decoration: none;
    color: #fff;
}

    a:hover {
        text-decoration: underline;
    }
