@page
@model Questionnaire_Frontend.Pages.AnswerQuestionsExtendedModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>AnwerQuestionsExtended</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="files/anwerquestionsextended/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/answerquestions/styles.css" type="text/css" rel="stylesheet"/>

</head>
<body>
<div id="base" class="">

    <img id="infotechLogo" src="images/InfotechLogo.png" class="img-fluid" alt="Responsive image">

    <script src="js/AnswerQuestionsExtendedGenerated.js" asp-append-version="true"></script>

    <!-- Download Pdf Report -->
    <div>
        <form method="post" asp-page-handler="DownloadSecurityCheck">
            <button id="downloadBtn" type="submit">Download</button>
        </form>
    </div>

    <!-- Company Name -->
    <label id="companyNameLbl" type="text">@Model.CompanyName</label>

    <!-- Security Check Type label -->
    <label id="securityCheckTypeLbl" type="text">@Model.SecurityCheckType</label>
    
    <!-- Save Btn -->
    <div>
        <form method="post" asp-page-handler="SaveSecurityCheck">
            <button id="saveBtn" type="submit">Save</button>
        </form>
    </div>

</div>
</body>
</html>