@page
@model Questionnaire_Frontend.Pages.AnwerQuestionsModel;
@{
}
<!DOCTYPE html>
<html lang="">
<head>
    <title>AnswerQuestions</title>
    <link href="files/answerquestions/styles.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css"/>
</head>
<body>

<div id="base">
    <div>
        <form method="post" asp-page-handler="CompanyName"></form>
        <input type="text" class="companyName" name="companyName" placeholder="Company name"/>
        <input type="submit" class="testBtn" value="MyButton"/>
    </div>
    
    <select class="dropdown comboBox" >
        <option selected>@Model.SecurityCheckType[0]</option>
        @for (int i = 1; i < @Model.SecurityCheckType.Count; i++)
        {
            <option>@Model.SecurityCheckType[i]</option>
        }
    </select>
    
    <input id="saveButton" type="button" value="Save" asp-page-handler="Any"/>

    <img id="infotechLogo" src="images/InfotechLogo.png" class="img-fluid" alt="Responsive image">

    @* Generate Questions dynamically *@
    <script src="js/AnswerQuestionsGeneratedTags.js" asp-append-version="true"></script>

</div>

</body>
</html>