@page
@model Questionnaire_Frontend.Pages.ChangePassword

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>ChangePassword</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="files/changepassword/styles.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div id="base" class="">
    <div>
        <img id="infotechLogo" src="images/InfotechLogo.png" class="img-fluid" alt="Responsive image">

        <div>
            <form method="post" asp-page-handler="ChangePassword">
                <label id="oldPasswordLabel" for="oldPassword">Old Password:</label>
                <input id="oldPassword" type="password" name="oldPassword"/>
                <label id="newPasswordLabel" for="newPassword">New Password:</label>
                <input id="newPassword" type="password" name="newPassword"/>
                <label id="newPasswordRepeatLabel" for="newPasswordRepeat">Repeat New Password:</label>
                <input id="newPasswordRepeat" type="password" name="newPasswordRepeated"/>
                <div id="errorText">@Model.ErrorText</div>
                <input id="applyButton" type="submit" value="Apply"/>
            </form>
        </div>

        <button id="backButton">
            <a asp-page-handler="RedirectMainWindow">Back</a>
        </button>
    </div>
</div>
</body>
</html>