body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:187px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:37px;
  width:249px;
  height:187px;
  display:flex;
}
#u13 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}

#oldPassword{
  border-width:1px;
  position:absolute;
  left:554px;
  top:144px;
  width:369px;
  height:41px;
  display:flex;
  font-size:18px;
  
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}

#newPassword{
  border-width:1px;
  position:absolute;
  left:554px;
  top:206px;
  width:369px;
  height:41px;
  display:flex;
  font-size:18px;

  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}

#oldPasswordLabel{
  position:absolute;
  left:252px;
  top:143px;
  width:211px;
  height:42px;
  display:flex;
  font-family:"Arial Fett", "Arial Standard", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
  text-align:center;
  
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}

#newPasswordLabel{
  position:absolute;
  left:252px;
  top:205px;
  width:211px;
  height:42px;
  display:flex;
  font-family:"Arial Fett", "Arial Standard", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
  text-align:center;
  
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}

#newPasswordRepeat{
  border-width:1px;
  position:absolute;
  left:554px;
  top:260px;
  width:369px;
  height:41px;
  display:flex;
  font-size:18px;
  
  
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}

#newPasswordRepeatLabel{
  position:absolute;
  left:205px;
  top:259px;
  width:258px;
  height:42px;
  display:flex;
  font-family:"Arial Fett", "Arial Standard", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
  text-align:center;
  

  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}

#applyButton{
  border-width:1px;
  position:absolute;
  left:783px;
  top:374px;
  width:140px;
  height:40px;
  display:flex;
  font-family:"Arial Fett", "Arial Standard", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
  

  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}

#errorText{
  position:absolute;
  left:554px;
  top:328px;
  width:369px;
  height:33px;
  display:flex;
  
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}

#backButton{
  border-width:1px;
  position:absolute;
  left:554px;
  top:374px;
  width:140px;
  height:40px;
  display:flex;
  font-family:"Arial Fett", "Arial Standard", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;

  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}