body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:relative;
  z-index:0;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1007px;
  height:152px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Standard", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u5_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:1007px;
  height:152px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Standard", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u5_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:1007px;
  height:152px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Standard", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u5_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:1007px;
  height:152px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Standard", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1007px;
  height:152px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:650px;
  width:1007px;
  height:152px;
  display:flex;
  font-size:20px;
}
#u5 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1007px;
  height:152px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5.hint {
}
#u5_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1007px;
  height:152px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5.disabled {
}
#u5_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1007px;
  height:152px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5.hint.disabled {
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  text-align:center;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:302px;
  width:514px;
  height:44px;
  display:flex;
  font-size:22px;
  text-align:center;
}
#u6 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:44px;
  width:42px;
  height:42px;
  display:flex;
}
#u7 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  text-align:center;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:984px;
  top:302px;
  width:234px;
  height:42px;
  display:flex;
  font-size:22px;
  text-align:center;
}
#u8 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  height:54px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Standard", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u9_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  height:54px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Standard", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u9_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  height:54px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Standard", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u9_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  height:54px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Standard", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:130px;
  width:515px;
  height:54px;
  display:flex;
  font-size:18px;
}
#u9 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u9.hint {
}
#u9_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  height:54px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u9.disabled {
}
#u9_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  height:54px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u9.hint.disabled {
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:38px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Standard", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u10_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:38px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Standard", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:48px;
  width:183px;
  height:38px;
  display:flex;
  font-size:14px;
}
#u10 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:38px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u10.disabled {
}
.u10_input_option {
  font-size:14px;
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:984px;
  top:822px;
  width:220px;
  height:42px;
  display:flex;
  font-size:20px;
  text-align:center;
}
#u11 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:822px;
  width:529px;
  height:44px;
  display:flex;
  font-size:20px;
  text-align:center;
}
#u12 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  text-align:center;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:304px;
  width:211px;
  height:42px;
  display:flex;
  font-size:22px;
  text-align:center;
}
#u13 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:822px;
  width:211px;
  height:42px;
  display:flex;
  font-size:20px;
  text-align:center;
}
#u14 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:48px;
  width:157px;
  height:38px;
  display:flex;
  font-size:16px;
}
#u15 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:226px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:916px;
  top:0px;
  width:301px;
  height:226px;
  display:flex;
}
#u16 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:0.4px;
  color:#8C8C8C;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:346px;
  width:1px;
  height:14px;
  display:flex;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:0.4px;
  color:#8C8C8C;
}
#u18 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:0.4px;
  color:#8C8C8C;
}
#u18.selected {
}
#u18_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:457px;
  width:34px;
  height:34px;
  display:flex;
}
#u21 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21_img.mouseOver {
}
#u21.mouseOver {
}
#u21_img.mouseDown {
}
#u21.mouseDown {
}
#u21_img.focused {
}
#u21.focused {
}
#u21_img.mouseOver.mouseDown {
}
#u21.mouseOver.mouseDown {
}
#u21_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22 label {
  left:0px;
  width:100%;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:465px;
  width:989px;
  height:18px;
  display:flex;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u22 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 10px;
  box-sizing:border-box;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:18px;
  top:0px;
  width:959px;
  word-wrap:break-word;
  text-transform:none;
}
#u22_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:518px;
  width:34px;
  height:34px;
  display:flex;
}
#u24 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24_img.mouseOver {
}
#u24.mouseOver {
}
#u24_img.mouseDown {
}
#u24.mouseDown {
}
#u24_img.focused {
}
#u24.focused {
}
#u24_img.mouseOver.mouseDown {
}
#u24.mouseOver.mouseDown {
}
#u24_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25 label {
  left:0px;
  width:100%;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:526px;
  width:989px;
  height:18px;
  display:flex;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u25 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 10px;
  box-sizing:border-box;
}
#u25_img.selected {
}
#u25.selected {
}
#u25_img.selected.error {
}
#u25.selected.error {
}
#u25_img.selected.hint {
}
#u25.selected.hint {
}
#u25_img.selected.error.hint {
}
#u25.selected.error.hint {
}
#u25_img.mouseOver.selected {
}
#u25.mouseOver.selected {
}
#u25_img.mouseOver.selected.error {
}
#u25.mouseOver.selected.error {
}
#u25_img.mouseOver.selected.hint {
}
#u25.mouseOver.selected.hint {
}
#u25_img.mouseOver.selected.error.hint {
}
#u25.mouseOver.selected.error.hint {
}
#u25_img.mouseDown.selected {
}
#u25.mouseDown.selected {
}
#u25_img.mouseDown.selected.error {
}
#u25.mouseDown.selected.error {
}
#u25_img.mouseDown.selected.hint {
}
#u25.mouseDown.selected.hint {
}
#u25_img.mouseDown.selected.error.hint {
}
#u25.mouseDown.selected.error.hint {
}
#u25_img.mouseOver.mouseDown.selected {
}
#u25.mouseOver.mouseDown.selected {
}
#u25_img.mouseOver.mouseDown.selected.error {
}
#u25.mouseOver.mouseDown.selected.error {
}
#u25_img.mouseOver.mouseDown.selected.hint {
}
#u25.mouseOver.mouseDown.selected.hint {
}
#u25_img.mouseOver.mouseDown.selected.error.hint {
}
#u25.mouseOver.mouseDown.selected.error.hint {
}
#u25_img.focused.selected {
}
#u25.focused.selected {
}
#u25_img.focused.selected.error {
}
#u25.focused.selected.error {
}
#u25_img.focused.selected.hint {
}
#u25.focused.selected.hint {
}
#u25_img.focused.selected.error.hint {
}
#u25.focused.selected.error.hint {
}
#u25_img.selected.disabled {
}
#u25.selected.disabled {
}
#u25_img.selected.hint.disabled {
}
#u25.selected.hint.disabled {
}
#u25_img.selected.error.disabled {
}
#u25.selected.error.disabled {
}
#u25_img.selected.error.hint.disabled {
}
#u25.selected.error.hint.disabled {
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:18px;
  top:0px;
  width:959px;
  word-wrap:break-word;
  text-transform:none;
}
#u25_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:580px;
  width:34px;
  height:34px;
  display:flex;
}
#u27 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27_img.mouseOver {
}
#u27.mouseOver {
}
#u27_img.mouseDown {
}
#u27.mouseDown {
}
#u27_img.focused {
}
#u27.focused {
}
#u27_img.mouseOver.mouseDown {
}
#u27.mouseOver.mouseDown {
}
#u27_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28 label {
  left:0px;
  width:100%;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:588px;
  width:989px;
  height:18px;
  display:flex;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u28 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 10px;
  box-sizing:border-box;
}
#u28_img.selected {
}
#u28.selected {
}
#u28_img.selected.error {
}
#u28.selected.error {
}
#u28_img.selected.hint {
}
#u28.selected.hint {
}
#u28_img.selected.error.hint {
}
#u28.selected.error.hint {
}
#u28_img.mouseOver.selected {
}
#u28.mouseOver.selected {
}
#u28_img.mouseOver.selected.error {
}
#u28.mouseOver.selected.error {
}
#u28_img.mouseOver.selected.hint {
}
#u28.mouseOver.selected.hint {
}
#u28_img.mouseOver.selected.error.hint {
}
#u28.mouseOver.selected.error.hint {
}
#u28_img.mouseDown.selected {
}
#u28.mouseDown.selected {
}
#u28_img.mouseDown.selected.error {
}
#u28.mouseDown.selected.error {
}
#u28_img.mouseDown.selected.hint {
}
#u28.mouseDown.selected.hint {
}
#u28_img.mouseDown.selected.error.hint {
}
#u28.mouseDown.selected.error.hint {
}
#u28_img.mouseOver.mouseDown.selected {
}
#u28.mouseOver.mouseDown.selected {
}
#u28_img.mouseOver.mouseDown.selected.error {
}
#u28.mouseOver.mouseDown.selected.error {
}
#u28_img.mouseOver.mouseDown.selected.hint {
}
#u28.mouseOver.mouseDown.selected.hint {
}
#u28_img.mouseOver.mouseDown.selected.error.hint {
}
#u28.mouseOver.mouseDown.selected.error.hint {
}
#u28_img.focused.selected {
}
#u28.focused.selected {
}
#u28_img.focused.selected.error {
}
#u28.focused.selected.error {
}
#u28_img.focused.selected.hint {
}
#u28.focused.selected.hint {
}
#u28_img.focused.selected.error.hint {
}
#u28.focused.selected.error.hint {
}
#u28_img.selected.disabled {
}
#u28.selected.disabled {
}
#u28_img.selected.hint.disabled {
}
#u28.selected.hint.disabled {
}
#u28_img.selected.error.disabled {
}
#u28.selected.error.disabled {
}
#u28_img.selected.error.hint.disabled {
}
#u28.selected.error.hint.disabled {
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:18px;
  top:0px;
  width:959px;
  word-wrap:break-word;
  text-transform:none;
}
#u28_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:407px;
  width:34px;
  height:34px;
  display:flex;
}
#u30 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30_img.mouseOver {
}
#u30.mouseOver {
}
#u30_img.mouseDown {
}
#u30.mouseDown {
}
#u30_img.focused {
}
#u30.focused {
}
#u30_img.mouseOver.mouseDown {
}
#u30.mouseOver.mouseDown {
}
#u30_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31 label {
  left:0px;
  width:100%;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:415px;
  width:989px;
  height:18px;
  display:flex;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u31 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 10px;
  box-sizing:border-box;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:18px;
  top:0px;
  width:959px;
  word-wrap:break-word;
  text-transform:none;
}
#u31_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u33_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:356px;
  width:34px;
  height:34px;
  display:flex;
}
#u33 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u33_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u34 label {
  left:0px;
  width:100%;
}
#u34_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:364px;
  width:989px;
  height:18px;
  display:flex;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u34 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 10px;
  box-sizing:border-box;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:18px;
  top:0px;
  width:959px;
  word-wrap:break-word;
  text-transform:none;
}
#u34_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1007px;
  height:152px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Standard", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u35_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:1007px;
  height:152px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Standard", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u35_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:1007px;
  height:152px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Standard", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u35_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:1007px;
  height:152px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Standard", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u35_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1007px;
  height:152px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:1212px;
  width:1007px;
  height:152px;
  display:flex;
  font-size:20px;
}
#u35 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u35_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1007px;
  height:152px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u35.hint {
}
#u35_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1007px;
  height:152px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u35.disabled {
}
#u35_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1007px;
  height:152px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u35.hint.disabled {
}
#u36_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:1101px;
  top:1413px;
  width:140px;
  height:40px;
  display:flex;
  font-size:15px;
}
#u36 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u36_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:0.4px;
  color:#8C8C8C;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:883px;
  width:1px;
  height:14px;
  display:flex;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:0.4px;
  color:#8C8C8C;
}
#u38 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u38_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:0.4px;
  color:#8C8C8C;
}
#u38_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:1000px;
  width:34px;
  height:34px;
  display:flex;
}
#u41 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u42 label {
  left:0px;
  width:100%;
}
#u42_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:1008px;
  width:989px;
  height:18px;
  display:flex;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 10px;
  box-sizing:border-box;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:18px;
  top:0px;
  width:959px;
  word-wrap:break-word;
  text-transform:none;
}
#u42_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:1064px;
  width:34px;
  height:34px;
  display:flex;
}
#u44 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u44_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u45 label {
  left:0px;
  width:100%;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:1072px;
  width:989px;
  height:18px;
  display:flex;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u45 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 10px;
  box-sizing:border-box;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:18px;
  top:0px;
  width:959px;
  word-wrap:break-word;
  text-transform:none;
}
#u45_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:1129px;
  width:34px;
  height:34px;
  display:flex;
}
#u47 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u48 label {
  left:0px;
  width:100%;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:1137px;
  width:989px;
  height:18px;
  display:flex;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u48 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 10px;
  box-sizing:border-box;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:18px;
  top:0px;
  width:959px;
  word-wrap:break-word;
  text-transform:none;
}
#u48_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:947px;
  width:34px;
  height:34px;
  display:flex;
}
#u50 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u50_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u51 label {
  left:0px;
  width:100%;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:955px;
  width:989px;
  height:18px;
  display:flex;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u51 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 10px;
  box-sizing:border-box;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:18px;
  top:0px;
  width:959px;
  word-wrap:break-word;
  text-transform:none;
}
#u51_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:893px;
  width:34px;
  height:34px;
  display:flex;
}
#u53 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u54 label {
  left:0px;
  width:100%;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:901px;
  width:989px;
  height:18px;
  display:flex;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u54 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 10px;
  box-sizing:border-box;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:18px;
  top:0px;
  width:959px;
  word-wrap:break-word;
  text-transform:none;
}
#u54_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
.u22{
  position:absolute;
  left:0%;
  top: 40em;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}

.radio_button_group{
  position: absolute;
  top: 25em;
  left: 30%;
}

.textAreaGroup{
  position:absolute;
  left:20%;
  top:200px;
  width:1007px;
  height:152px;
  display:flex;
  font-size:20px;

  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}

.criticality{
  position:absolute;
  left:0%;
  bottom: 170px;
  width:211px;
  height:42px;
  display:flex;
  font-size:22px;
  text-align:center;
  
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}

.question{
  position:absolute;
  left:15em;
  bottom: 170px;
  width:514px;
  height:44px;
  display:flex;
  font-size:22px;
  text-align:center;

  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}

.categorie{
  border-width:0px;
  position:absolute;
  left: 35em;
  bottom: 170px;
  width:234px;
  height:42px;
  display:flex;
  font-size:22px;
  text-align:center;
  

  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}

.buttonNext{
  position:absolute;
  left:55em;
  top:25em;
  width:157px;
  height:38px;
  display:flex;
  font-size:16px;

  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}

.myButtonNext{
  bottom: 0;
  position: absolute;
  left: 55em;
}