@page
@model Questionnaire_Frontend.Pages.AnwerQuestionsModel;
@{
}
<!DOCTYPE html>
<html lang="">
<head>
    <title>AnswerQuestions</title>
    <link href="files/answerquestions/styles.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css"/>
</head>
<body>

<div id="base">
    <div>
        <form method="post" asp-page-handler="CompanyName"></form>
        <input type="text" class="companyName" name="companyName" placeholder="Company name"/>
        <input type="submit" class="testBtn" value="MyButton"/>
    </div>

    <div class="dropdown comboBox">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            @Model.SecurityCheckType[0]
        </button>
        <ul class="dropdown-menu">
            @for (int i = 0; i < @Model.SecurityCheckType.Count; i++)
            {
                <li>
                    <a class="dropdown-item">@Model.SecurityCheckType[i]</a>
                </li>
            }
        </ul>
    </div>

    <!-- Save Button -->
    <div id="u15" class="ax_default button">
        <div id="u15_div" class=""></div>
        <div id="u15_text" class="text ">
            <a asp-page-handler="Any">Save</a>
        </div>

    </div>

    <!-- Infotech Logo -->
    <div id="u16" class="ax_default image">
        <img id="u16_img" class="img " src="images/mainwindow/u4.png"/>
        <div id="u16_text" class="text " style="display:none; visibility: hidden">
        </div>
    </div>

    @* Generate Questions dynamically *@
    <script src="js/AnswerQuestionsGeneratedTags.js" asp-append-version="true"></script>

</div>

</body>
</html>