@* Strg + Shift + R reload browser data*@
@page
@model Questionnaire_Frontend.Pages.AnwerQuestionsModel;
@{
}
<!DOCTYPE html>
<html lang="">
<head>
    <title>AnswerQuestions</title>
    <link href="files/answerquestions/styles.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css"/>
</head>
<body>
<div id="base">
    <!-- Unnamed (Text Area) -->
    @* <div id="u5" class="ax_default text_area"> *@
    @*     <div id="u5_div" class=""></div> *@
    @*     <textarea id="u5_input" class="u5_input"></textarea> *@
    @* </div> *@


    @* <div id="myAreaGroup" class="form-group myTextAreaInput"> *@
    @*     <textarea class="form-control myTextAreaInput" id="exampleFormControlTextarea1" rows="3"></textarea> *@
    @* </div> *@


    <!-- Unnamed (Rectangle) -->
    <div class="questionText ">
        <span>Question 1</span>
    </div>

    <!-- Unnamed (Shape) -->
    <div id="u7" class="ax_default icon">
        <a asp-page-handler="RedirectToUpdateSecurityCheck">
            <img id="u7_img" class="img " src="images/answerquestions/u7.svg" alt=""/>
            <div id="u7_text" class="text " style="display:none; visibility: hidden">
            </div>
        </a>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u8" class="ax_default label">
        <div id="u8_div" class=""></div>
        <div id="u8_text" class="text ">
            <p>
                <span>Categorie: XY</span>
            </p>
        </div>
    </div>

    <!-- Unnamed (Text Field) -->
    <div id="u9" class="ax_default text_field">
        <div id="u9_div" class=""></div>
        <input id="u9_input" type="text" value="" class="u9_input"/>
    </div>

    <!-- Unnamed (Droplist) -->
    <div id="u10" class="ax_default droplist">
        <div id="u10_div" class=""></div>
        <select id="u10_input" class="u10_input">
            <option class="u10_input_option" value="Security Check Extended">Security Check Extended</option>
            <option class="u10_input_option" value="Security Check Light">Security Check Light</option>
        </select>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u11" class="ax_default label">
        <div id="u11_div" class=""></div>
        <div id="u11_text" class="text ">
            <p>
                <span>Categorie: XY</span>
            </p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u12" class="ax_default label">
        <div id="u12_div" class=""></div>
        <div id="u12_text" class="text ">
            <p>
                <span>Question 2</span>
            </p>
        </div>
    </div>

    

    <!-- Unnamed (Rectangle) -->
    @* <div id="u14" class="ax_default label"> *@
    @*     <div id="u14_div" class=""></div> *@
    @*     <div id="u14_text" class="text "> *@
    @*         <p> *@
    @*             <span>Criticality</span> *@
    @*         </p> *@
    @*     </div> *@
    @* </div> *@

    <!-- Save Button -->
    <div id="u15" class="ax_default button">
        <div id="u15_div" class=""></div>
        <div id="u15_text" class="text ">
            <p>
                <span>Save</span>
            </p>
        </div>
    </div>

    <!-- Infotech Logo -->
    <div id="u16" class="ax_default image">
        <img id="u16_img" class="img " src="images/mainwindow/u4.png"/>
        <div id="u16_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <script>
    let numberOfGeneratedDiv = 8;
    let numberOfRadioButtons = 5;
    
    
    for(let j = 0; j < numberOfGeneratedDiv; j++) {
        //Div Tags
              let div = document.createElement("div");
              div.id = "radioButtonContainer" + j;
              div.className = "radio_button_group";
              
              let marginTopVal = (j*500);
              div.style.marginTop = marginTopVal+"px";
              document.body.appendChild(div);
              
              //Criticality text area
                      let criticality = document.createElement("label");
                      criticality.id = "criticality" + j;
                      criticality.className = "criticality";
                      criticality.innerText = "AnyCriticalText";
                      document.getElementById("radioButtonContainer"+j).appendChild(criticality);
              
  //Radio buttons
      for (let i = 0; i < numberOfRadioButtons; i++) {
        let radioButton1 = document.createElement("input");
        radioButton1.type = "radio";
        radioButton1.name = "radioGroup"+j;
        if (i === 0) {
            radioButton1.value = "  n.A.";
            } else {
            radioButton1.value = (i-1) + "  Any text";
            }
        
        radioButton1.id = "radioButton" +(j+1) + (i + 1);
        
        let label1 = document.createElement("label");
        label1.htmlFor = radioButton1.id;
        label1.innerHTML = radioButton1.value;
        
        document.getElementById("radioButtonContainer"+j).appendChild(radioButton1);
        document.getElementById("radioButtonContainer"+j).appendChild(label1);
        document.getElementById("radioButtonContainer"+j).appendChild(document.createElement("br"));
        
        }
      
      //Comment text area
              let textArea = document.createElement("textarea");
              textArea.id = "textArea" + j;
              textArea.className = "textAreaInput";
             document.getElementById("radioButtonContainer"+j).appendChild(textArea);
             
      }
    </script>

    <!-- Unnamed (Rectangle) -->
        <div class="ax_default label criticality">
            <span>Criticality</span>
        </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u36" class="ax_default button">
        <a asp-page-handler="RedirectToAnswerQuestionsExtended">
            <div id="u36_div" class=""></div>
            <div id="u36_text" class="text ">
                <p>
                    <span>Next</span>
                </p>
            </div>
        </a>
    </div>
</div>
</body>
</html>