@page
@model Questionnaire_Frontend.Pages.IndexModel;
@{
    ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html>
<head>
    <title>Page 1</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/loginscreen/styles.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div id="base" class="">

    <!-- Unnamed (Image) -->
    <div id="u6" class="ax_default image">
        <img id="u6_img" class="img " src="images/mainwindow/u4.png"/>
        <div id="u6_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <div>
        <form method="post" asp-page-handler="Login">
            <label for="usernameField" class="userName">Username:</label>
            <input id="usernameField" type="text" name="username" class="userNameInput"/>
            <label for="passwordField" class="password">Password:</label>
            <input id="passwordField" type="password" name="password" class="passwordInput"/>
            <div>@Model.ErrorText</div>
            <input type="submit" class="loginButton"/>
        </form>
    </div>

</div>
</body>
</html>