@page
@model Questionnaire_Frontend.Pages.IndexModel;
@{
    ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html>
<head>
    <title>Page 1</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet" />
    <link href="data/styles.css" type="text/css" rel="stylesheet" />
    <link href="files/loginscreen/styles.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div id="base" class="">

        <!-- Login (Rectangle) -->
        <div id="u0" class="ax_default button" data-label="Login">
            <div id="u0_div" class=""></div>
            <div id="u0_text" class="text ">
               <a asp-page-handler="RedirectMainWindow">Login</a>
            </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u1" class="ax_default text_field">
            <div id="u1_div" class=""></div>
            <input id="u1_input" type="email" value="" class="u1_input" />
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u2" class="ax_default text_field">
            <div id="u2_div" class=""></div>
            <input id="u2_input" type="password" value="" class="u2_input" />
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u3" class="ax_default heading_3">
            <div id="u3_div" class=""></div>
            <div id="u3_text" class="text ">
                <p><span>E-Mail:</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u4" class="ax_default heading_3">
            <div id="u4_div" class=""></div>
            <div id="u4_text" class="text ">
                <p><span>Password:</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u5" class="ax_default heading_2">
            <div id="u5_div" class=""></div>
            <div id="u5_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u6" class="ax_default label">
            <div id="u6_div" class=""></div>
            <div id="u6_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>
    </div>
</body>
</html>
