@page
@model Questionnaire_Frontend.Pages.start_c_1Model
@{
}
<html>
<head>
	<title></title>
</head>
<body>

	<script language="javascript">
		self.location.href = "start.html#c=1";
	</script>

</body>
</html>
