@page
@model Questionnaire_Frontend.Pages.start_with_pagesModel
@{
}
<html>
<head>
    <title></title>
</head>
<body>

    <script language="javascript">
        self.location.href = "start.html#g=1";
    </script>

</body>
</html>
