@page
@model Questionnaire_Frontend.Pages.UpdateSecurityCheck

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>UpdateSecurityCheck</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/updatesecuritycheck/styles.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div id="base" class="">

    <select id="securityCheckListBox" size="@Model.list.Count" class="listGroup">
        @for (int i = 0; i < @Model.list.Count; i++)
        {
            <option class="listGroupSelected">@Model.list[i]</option>
        }
    </select>

    <!-- Unnamed (Text Field) -->
    <div id="u108" class="ax_default text_field">
        <div id="u108_div" class=""></div>
        <input id="u108_input" type="text" value="" class="u108_input"/>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u109" class="ax_default button">
        <div id="u109_div" class=""></div>
        <div id="u109_text" class="text ">
            <p>
                <span>Delete</span>
            </p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u110" class="ax_default button">
        <div id="u110_div" class=""></div>
        <div id="u110_text" class="text ">
            <p>
                <span>Update</span>
            </p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u111" class="ax_default button">
        <div id="u111_div" class=""></div>
        <div id="u111_text" class="text ">
            <p>
                <span>Save All Changes</span>
            </p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u112" class="ax_default button">
        <div id="u112_div" class=""></div>
        <div id="u112_text" class="text ">
            <p>
                <span>Add new Question</span>
            </p>
        </div>
    </div>

    <!-- Unnamed (Text Field) -->
    <div id="u113" class="ax_default text_field">
        <div id="u113_div" class=""></div>
        <input id="u113_input" type="text" value="" class="u113_input"/>
    </div>

    <!-- Unnamed (Radio Button) -->
    <div id="u114" class="ax_default label">
        <label id="u114_input_label" for="u114_input" style="position: absolute; left: 0px;">
            <img id="u114_img" class="img " src="images/updatesecuritycheck/u114.svg"/>
            <div id="u114_text" class="text ">
                <p>
                    <span>0</span>
                </p>
            </div>
        </label>
        <input id="u114_input" type="radio" value="radio" name="u114"/>
    </div>

    <!-- Unnamed (Radio Button) -->
    <div id="u115" class="ax_default label">
        <label id="u115_input_label" for="u115_input" style="position: absolute; left: 0px;">
            <img id="u115_img" class="img " src="images/updatesecuritycheck/u115.svg"/>
            <div id="u115_text" class="text ">
                <p>
                    <span>1</span>
                </p>
            </div>
        </label>
        <input id="u115_input" type="radio" value="radio" name="u115"/>
    </div>

    <!-- Unnamed (Radio Button) -->
    <div id="u116" class="ax_default label">
        <label id="u116_input_label" for="u116_input" style="position: absolute; left: 0px;">
            <img id="u116_img" class="img " src="images/updatesecuritycheck/u116.svg"/>
            <div id="u116_text" class="text ">
                <p>
                    <span>2</span>
                </p>
            </div>
        </label>
        <input id="u116_input" type="radio" value="radio" name="u116"/>
    </div>

    <!-- Unnamed (Radio Button) -->
    <div id="u117" class="ax_default label">
        <label id="u117_input_label" for="u117_input" style="position: absolute; left: 0px;">
            <img id="u117_img" class="img " src="images/updatesecuritycheck/u117.svg"/>
            <div id="u117_text" class="text ">
                <p>
                    <span>3</span>
                </p>
            </div>
        </label>
        <input id="u117_input" type="radio" value="radio" name="u117"/>
    </div>

    <!-- Unnamed (Text Field) -->
    <div id="u118" class="ax_default text_field">
        <div id="u118_div" class=""></div>
        <input id="u118_input" type="text" value="" class="u118_input"/>
    </div>

    <!-- Unnamed (Text Field) -->
    <div id="u119" class="ax_default text_field">
        <div id="u119_div" class=""></div>
        <input id="u119_input" type="text" value="" class="u119_input"/>
    </div>

    <!-- Unnamed (Text Field) -->
    <div id="u120" class="ax_default text_field">
        <div id="u120_div" class=""></div>
        <input id="u120_input" type="text" value="" class="u120_input"/>
    </div>

    <!-- Unnamed (Text Field) -->
    <div id="u121" class="ax_default text_field">
        <div id="u121_div" class=""></div>
        <input id="u121_input" type="text" value="" class="u121_input"/>
    </div>

    <!-- chbox_SecurityCheck (Droplist) -->
    <div id="u122" class="ax_default droplist" data-label="chbox_SecurityCheck">
        <div id="u122_div" class=""></div>
        <select id="u122_input" class="u122_input">
            <option class="u122_input_option" value="Security Check | Extended">Security Check | Extended</option>
            <option class="u122_input_option" value="Security Check | Light">Security Check | Light</option>
        </select>
    </div>

    <!-- Unnamed (Text Field) -->
    <div id="u123" class="ax_default text_field">
        <div id="u123_div" class=""></div>
        <input id="u123_input" placeholder="Security Check name" type="text" value="" class="u123_input"/>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u124" class="ax_default button ax_default_hidden" style="display:none; visibility: hidden">
        <div id="u124_div" class=""></div>
        <div id="u124_text" class="text ">
            <p>
                <span>Create New Security Check</span>
            </p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u125" class="ax_default button">
        <a asp-page-handler="RedirectToMainWindow">
            <div id="u125_div" class=""></div>
            <div id="u125_text" class="text ">
                <p>
                    <span>Back</span>
                </p>
            </div>
        </a>
    </div>

    <!-- Unnamed (Image) -->
    <div id="u126" class="ax_default image">
        <img id="u126_img" class="img " src="images/mainwindow/u4.png"/>
        <div id="u126_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>
</div>
<script src="resources/scripts/axure/ios.js"></script>
</body>
</html>