.ax_default {
  font-family:"Arial Standard", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:center;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.shape {
}
.image {
}
.button {
}
.heading_1 {
  font-family:"Arial Standard", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:"Arial Standard", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:"Arial Standard", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:"Arial Standard", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:"Arial Standard", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:"Arial Standard", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:13px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.text_field {
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
  /*u22*/
  border-width:0px;
  position:absolute;
  left:236px;
  top:465px;
  width:989px;
  height:18px;
  display:flex;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
/*  u22 .text*/
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 10px;
  box-sizing:border-box;
/* u22_text */
  border-width:0px;
  position:absolute;
  left:18px;
  top:0px;
  width:959px;
  word-wrap:break-word;
  text-transform:none;
/*  u22_input*/
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
  
}
.radio_button {
  text-align:left;
}
.flow_shape {
}
.snapshot {
}
.tree_node {
  text-align:left;
}
.table_cell {
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
.flow_shape1 {
}
.box_1 {
}
.box_3 {
}
.icon {
}
textarea, select, input, button { outline: none; }
